<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>thangdh.controllers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationController</servlet-name>
        <servlet-class>thangdh.controllers.accounts.RegistrationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>thangdh.controllers.accounts.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>thangdh.controllers.accounts.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchArticleController</servlet-name>
        <servlet-class>thangdh.controllers.articles.SearchArticleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailArticleController</servlet-name>
        <servlet-class>thangdh.controllers.articles.DetailArticleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommentController</servlet-name>
        <servlet-class>thangdh.controllers.articles.CommentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateArticleController</servlet-name>
        <servlet-class>thangdh.controllers.articles.CreateArticleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessController</servlet-name>
        <servlet-class>thangdh.controllers.admins.ProcessController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSingleArticleController</servlet-name>
        <servlet-class>thangdh.controllers.admins.UpdateSingleArticleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDetailArticleController</servlet-name>
        <servlet-class>thangdh.controllers.admins.UpdateDetailArticleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthenticationController</servlet-name>
        <servlet-class>thangdh.controllers.accounts.AuthenticationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccountController</servlet-name>
        <servlet-class>thangdh.controllers.accounts.UpdateAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyArticleController</servlet-name>
        <servlet-class>thangdh.controllers.articles.MyArticleController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationController</servlet-name>
        <url-pattern>/RegistrationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchArticleController</servlet-name>
        <url-pattern>/SearchArticleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailArticleController</servlet-name>
        <url-pattern>/DetailArticleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommentController</servlet-name>
        <url-pattern>/CommentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateArticleController</servlet-name>
        <url-pattern>/CreateArticleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessController</servlet-name>
        <url-pattern>/ProcessController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSingleArticleController</servlet-name>
        <url-pattern>/UpdateSingleArticleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDetailArticleController</servlet-name>
        <url-pattern>/UpdateDetailArticleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthenticationController</servlet-name>
        <url-pattern>/AuthenticationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccountController</servlet-name>
        <url-pattern>/UpdateAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyArticleController</servlet-name>
        <url-pattern>/MyArticleController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>SearchArticleController</welcome-file>
    </welcome-file-list>
</web-app>
